/* Home.css */
.home-page {
    background-color: #08afb1;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .portal-title {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 400px; /* Adjust as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .avatar-icon {
    font-size: 64px;
    color: #08afb1;
  }
  
  .login-button {
    background-color: #08afb1;
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
  }
  